In [1]:
import pandas as pd
%load_ext autoreload
%autoreload 2
from IPython.display import display, Markdown

In [2]:
from llm_ontology_alignment.evaluations.ontology_matching_evaluation import *

In [3]:
df = get_full_results_df()

In [4]:
df.head()

,source_database,target_database,table_selection_strategy,column_matching_strategy,table_selection_llm,column_matching_llm,matching_llm,rewrite_llm,rewrite_prompt_tokens,rewrite_completion_tokens,rewrite_duration,matching_prompt_tokens,matching_completion_tokens,matching_duration,total_duration,precision,recall,f1_score,total_model_cost,version
0,imdb,sakila,llm-reasoning,llm-reasoning,gpt-4o,gpt-4o,gpt-4o,gpt-4o,20136.0,7580.0,176.372,27051.0,4224.0,245.788,422.160,1.00,0.92,0.96,0.413,5
1,imdb,sakila,llm-reasoning,llm-reasoning,gpt-3.5-turbo,gpt-3.5-turbo,gpt-3.5-turbo,gpt-3.5-turbo,20302.0,8223.0,92.430,23678.0,3743.0,43.783,136.213,0.80,0.67,0.73,0.028,5
2,omop,cms,llm-reasoning,llm-reasoning,gpt-4o,gpt-4o,gpt-4o,gpt-4o,55288.0,31752.0,653.000,172820.0,31321.0,749.000,1402.000,0.66,0.66,0.66,2.087,4
3,omop,cms,llm-reasoning,llm-reasoning,gpt-3.5-turbo,gpt-3.5-turbo,gpt-3.5-turbo,gpt-3.5-turbo,52780.0,31210.0,366.000,146316.0,32918.0,399.000,765.000,0.43,0.68,0.53,0.132,4
4,mimic_iii,omop,llm-reasoning,llm-reasoning,gpt-4o,gpt-4o,gpt-4o,gpt-4o,74265.0,42679.0,981.102,434005.0,38483.0,3876.965,4858.067,0.48,0.70,0.57,3.759,5

In [5]:
from llm_ontology_alignment.evaluations.ontology_matching_evaluation import *
main_result = get_baseline_performance()
main_result

In [6]:
# effect of different table selection strategy ours-gpt-3.5
from llm_ontology_alignment.evaluations.ontology_matching_evaluation import *
main_result = effect_of_table_selection_strategy("gpt-3.5-turbo", "llm", "gpt-3.5-turbo")
display(Markdown("#### Effect of table selection strategy (gpt-3.5-rewrite, gpt-3.5-match)"))
main_result

#### Effect of table selection strategy (gpt-3.5-rewrite, gpt-3.5-match)

In [7]:
main_result = effect_of_table_selection_strategy("gpt-4o", "llm", "gpt-4o")
display(Markdown("#### Effect of table selection strategy (gpt-4o-rewrite, gpt-4o-match"))
main_result

#### Effect of table selection strategy (gpt-4o-rewrite, gpt-4o-match

In [8]:
main_result = effect_of_table_selection_strategy("original", "coma", "None")
display(Markdown("#### Effect of table selection strategy (no rewrite, coma"))
main_result

#### Effect of table selection strategy (no rewrite, coma

In [9]:
main_result = effect_of_rewrite(table_selection_strategy='llm', table_selection_llm='gpt-4o', column_matching_strategy='llm', column_matching_llm='gpt-4o')
display(Markdown("#### Effect of rewrite (LLM-gpt-4o-table-selection, LLM-4o-column-matching)"))
main_result

#### Effect of rewrite (LLM-gpt-4o-table-selection, LLM-4o-column-matching)

In [10]:
main_result = effect_of_rewrite(table_selection_strategy='llm', table_selection_llm='gpt-3.5-turbo', column_matching_strategy='llm', column_matching_llm='gpt-3.5-turbo')
display(Markdown("#### Effect of rewrite (LLM-gpt-3.5-table-selection, LLM-3.5-column-matching)"))
main_result

#### Effect of rewrite (LLM-gpt-3.5-table-selection, LLM-3.5-column-matching)

In [11]:
main_result = effect_of_rewrite(table_selection_strategy='llm', table_selection_llm='deepinfra/meta-llama/Meta-Llama-3.1-70B-Instruct', column_matching_strategy='llm', column_matching_llm='deepinfra/meta-llama/Meta-Llama-3.1-70B-Instruct')
display(Markdown("#### Effect of rewrite (LLM-llama-70b-table-selection, LLM-llama-70b-column-matching)"))
main_result

#### Effect of rewrite (LLM-llama-70b-table-selection, LLM-llama-70b-column-matching)

In [12]:
main_result = effect_of_rewrite(table_selection_strategy='llm', table_selection_llm='deepinfra/meta-llama/Meta-Llama-3.1-405B-Instruct', column_matching_strategy='llm', column_matching_llm='deepinfra/meta-llama/Meta-Llama-3.1-405B-Instruct')
display(Markdown("#### Effect of rewrite (LLM-llama-405b-table-selection, LLM-llama-405b-column-matching)"))
main_result

#### Effect of rewrite (LLM-llama-405b-table-selection, LLM-llama-405b-column-matching)

In [13]:
main_result = effect_of_rewrite(table_selection_strategy='llm', table_selection_llm='gpt-4o-mini', column_matching_strategy='llm', column_matching_llm='gpt-4o-mini')
display(Markdown("#### Effect of rewrite (LLM-gpt-4o-mini-table-selection, LLM-gpt-4o-mini-column-matching)"))
main_result

#### Effect of rewrite (LLM-gpt-4o-mini-table-selection, LLM-gpt-4o-mini-column-matching)

In [14]:
main_result = effect_of_rewrite(table_selection_strategy='None', table_selection_llm='gpt-3.5-turbo', column_matching_strategy='coma', column_matching_llm='None')
display(Markdown("#### Effect of rewrite(gpt-3.5-turbo) (None-table-selection, coma"))
main_result

#### Effect of rewrite(gpt-3.5-turbo) (None-table-selection, coma

In [15]:
main_result = effect_of_rewrite(table_selection_strategy='None', table_selection_llm='gpt-3.5-turbo', column_matching_strategy='similarity_flooding', column_matching_llm='None')
display(Markdown("#### Effect of rewrite(gpt-3.5-turbo) (None-table-selection, similarity_flooding)"))
main_result

#### Effect of rewrite(gpt-3.5-turbo) (None-table-selection, similarity_flooding)

In [16]:
main_result = effect_of_rewrite(table_selection_strategy='llm', table_selection_llm='gpt-3.5-turbo', column_matching_strategy='llm', column_matching_llm='gpt-3.5-turbo')
display(Markdown("#### Effect of rewrite (LLM-gpt-3.5-table-selection, LLM-3.5-column-matching)"))
main_result

#### Effect of rewrite (LLM-gpt-3.5-table-selection, LLM-3.5-column-matching)

In [17]:
main_result = effect_of_context_length(llm='gpt-3.5-turbo')
display(Markdown("#### Effect of content length (LLM-gpt-3.5-table-selection, LLM-3.5-column-matching)"))
main_result

#### Effect of content length (LLM-gpt-3.5-table-selection, LLM-3.5-column-matching)

In [18]:
main_result = effect_of_context_length(llm='gpt-4o')
display(Markdown("#### Effect of content length (LLM-gpt-4o-table-selection, LLM-gpt-4o-column-matching)"))
main_result

#### Effect of content length (LLM-gpt-4o-table-selection, LLM-gpt-4o-column-matching)

In [19]:
main_result = effect_of_context_length(llm='deepinfra/meta-llama/Meta-Llama-3.1-70B-Instruct')
display(Markdown("#### Effect of content length (LLM-llama-70b-table-selection, LLM-llama-70b-column-matching)"))
main_result

#### Effect of content length (LLM-llama-70b-table-selection, LLM-llama-70b-column-matching)

In [20]:
main_result = effect_of_context_length(llm='deepinfra/meta-llama/Meta-Llama-3.1-405B-Instruct')
display(Markdown("#### Effect of content length (LLM-llama-405b-table-selection, LLM-llama-405b-column-matching)"))
main_result

#### Effect of content length (LLM-llama-405b-table-selection, LLM-llama-405b-column-matching)

In [21]:
main_result = effect_of_k_in_table_to_table_vector_similarity(llm='gpt-4o')
display(Markdown("#### Effect of k in table to table matching ( LLM-gpt-4o-column-matching)"))
main_result

#### Effect of k in table to table matching ( LLM-gpt-4o-column-matching)

In [22]:
main_result = effect_of_k_in_table_to_table_vector_similarity(llm='gpt-3.5-turbo')
display(Markdown("#### Effect of k in table to table matching ( LLM-gpt-3.5-column-matching)"))
main_result

#### Effect of k in table to table matching ( LLM-gpt-3.5-column-matching)

In [5]:
main_result = effect_of_context_size_in_table_selection(llm='gpt-3.5-turbo')
display(Markdown("#### Effect of context size in table selection ( LLM-gpt-3.5-table-selection)"))
main_result

#### Effect of context size in table selection ( LLM-gpt-3.5-table-selection)

In [6]:
main_result = effect_of_context_size_in_table_selection(llm='gpt-4o')
display(Markdown("#### Effect of context size in table selection ( LLM-gpt-4o)"))
main_result

#### Effect of context size in table selection ( LLM-gpt-4o)

In [7]:
main_result = effect_of_context_size_in_table_selection_hits(llm='gpt-3.5-turbo')
display(Markdown("#### Effect of context size in table selection ( LLM-gpt-3.5-table-selection)"))
main_result

#### Effect of context size in table selection ( LLM-gpt-3.5-table-selection)

In [8]:
main_result = effect_of_context_size_in_table_selection_hits(llm='gpt-4o')
display(Markdown("#### Effect of context size in table selection ( LLM-gpt-4o)"))
main_result

#### Effect of context size in table selection ( LLM-gpt-4o)